.linkStyle {
    color:#272b2c;
    border: 3px solid dimgrey;
    text-decoration: none;
    padding: 5px;
    background-color: gray;
    font-family: fantasy;
    width: 100%;
    display: block;

  }
  .linkStyle:hover {
    color: black;
    position: relative;
    top: 2px;
    left: 2px;
    text-decoration: none;
  }
.text{
  text-align:  center;
}
.marginLeft{
  margin-left: 20px;
}
.wite-space-div-text {
  white-space: pre;
}
.welcomeTable{
  width: 100%;
  text-align: center;
}
.welcomeTableLeftColumn{
  width: 20%;
}
.welcomeTableLeftColumn>table{
  width: 100%;
}
.typesCol{
  padding: 2px;
  display: table-cell;
  width: 100%;
}
.secondaryLink{
  width: 135px;
  margin-left: 5px;
}
.tertiaryLink{
  width: 185px;
  margin-left: 5px;
}