<web-app>
	<display-name>Internet Shop Application</display-name>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/config/spring-config.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
        	<servlet-name>dispatcher</servlet-name>
        	<url-pattern>/api/*</url-pattern>
    	</servlet-mapping>
</web-app>